version: '3.8'

services:
  api:
    build:
      context: ./services/api-service
    ports:
      - "8088:8080"
    environment: &common-env
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: shorttrack
      POSTGRES_PASSWORD: supersecret
      POSTGRES_DB: shorttrack
      REDIS_HOST: redis
      REDIS_PORT: 6379
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
    depends_on:
      - postgres
      - redis
      - rabbitmq
    restart: unless-stopped

  analytics-worker:
    build:
      context: ./services/analytics-worker
    environment:
      <<: *common-env
    depends_on:
      - postgres
      - rabbitmq
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    ports:
      - "8081:80"
    depends_on:
      - api
    restart: unless-stopped

  postgres:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=shorttrack
      - POSTGRES_PASSWORD=supersecret
      - POSTGRES_DB=shorttrack
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:3-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    restart: unless-stopped

  grafana:
    image: grafana/grafana-oss:latest
    ports:
      - "3000:3000"
    volumes:
      # Mount the provisioning directory to auto-configure datasources/dashboards
      - ./grafana/provisioning:/etc/grafana/provisioning
      # Mount a volume to persist Grafana's internal database and settings
      - grafana_data:/var/lib/grafana
    depends_on:
      - postgres
    restart: unless-stopped

volumes:
  postgres_data:
  grafana_data:
